body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #358cd3a2;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.login, .main-panel, .task-form, .register-form {
    display: none;
}

.main-panel img {
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login.active, .main-panel.active, .task-form.active, .register-form.active {
    display: block;
}

.login-buttons, .main-panel-buttons {
    margin-bottom: 20px;
}

.login-buttons button, .main-panel-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-buttons button:hover, .main-panel-buttons button:hover {
    background-color: #0056b3;
}

.github-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.github-button:hover {
    background-color: #444;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color:#0056b3
}
